<div class="RFIcard">
    <div class="top-bar"> {{> breadcrumbs}}{{> RFIcard-header}}</div>
    <div class="card-divider">
        <ul class="tabs menu" data-active-collapse="true" data-tabs id="collapsing-tabs">
            <li class="tabs-title is-active"><a href="#panelRFI" aria-selected="true">
           RFI</a></li>
            <li class="tabs-title">
                <a href="#panelKPI"> <i class="fa fa-cog" aria-hidden="true"></i> KPI metrics </a>
            </li>
        </ul>
    </div>
    <div class="card card-tabs">
        <div class="tabs-content" data-tabs-content="collapsing-tabs">
            <div class="tabs-panel is-active" id="panelRFI">
                <div class="card-section"> {{> card_rfi_content}} </div>
            </div>
            <div class="tabs-panel" id="panelKPI">
                <div class="card-section"> {{> KPI-content}}</div>
            </div>
        </div>
    </div> {{> Modal-NewRFI}}