<ul class="tabs menu" data-active-collapse="true" data-tabs id="collapsing-tabs">
    <li class="tabs-title button secondary">
        <a href="#panelResponded"> <i class="fa fa-flag" aria-hidden="true"></i> Responded <span class="rfi-num">15</span></a>
    </li>
    <li class="tabs-title button warning">
        <a href="#"> <i class="fa fa-flag" aria-hidden="true"></i> Open <span class="rfi-num">15</span></a>
    </li>
    <li class="tabs-title button secondary"><a href="#panelOverdue" aria-selected="true"><i class="fa fa-flag" aria-hidden="true"></i>
           Overdue<span class="rfi-num">15</span></a></li>
</ul>